.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-dark);
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
}

.input {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 8px;
  padding: 8px;
}

.textarea {
  resize: none;
  height: 100px;
}

.alert {
  font-size: 14px;
  color: var(--color-alert);
}