.button {
  width: 100%;
  padding-block: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--color-blue);
  border: 1px solid var(--var-light);
  border-radius: 8px;
  color: var(--var-light);
}

.button a {
  text-decoration:none;
  font-weight: 500;
  color: var(--color-light);
}

.container {
  width: 100%;
  font-family: var(--font-manrope);
}