:root {
  --color-dark: #000;
  --color-light: #ffff;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-manrope);
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  background-image: url(../../public/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

