.button {
  margin-top: 50px;
}

.container {
  width: 100%;
}

.formContainer {
  width: 30%;
  margin-inline: auto;
}

.formTitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.form {
  padding: 30px;
  background-color: var(--color-light);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .formTitle {
    font-size: 25px;
  }

  .formContainer {
    width: 100%;
  }
}